@using TaskMaster.Data
@model TaskMaster.Data.Task

<h2>Görev Güncelle</h2>
<hr>
<div class="row">
    <div class="col-8">
        <form asp-controller="Home" asp-action="TaskEdit" method="post">
            <input type="hidden" asp-for="TaskId">
            <div class="mb-3">
                <label asp-for="Title" class="form-label">Görev Başlığı</label>
                <input asp-for="Title" class="form-control">
            </div>
            <div class="mb-3">
                <label asp-for="EngineerId" class="form-label">Görevden Sorumlu Mühendis</label>
                <select aspfor="EngineerId" asp-items="ViewBag.Engineers" class="form-select">
                    <option value="">Seçiniz</option>
                </select>
            </div>
            <button type="submit" class="btn btn-success">Kaydet</button>
        </form>
    </div>
    <div class="col-4">
        <h4>Görevli Stajyerler</h4>
        <hr>
        <ul>
            @foreach(var item in @Model.TaskSaves)
            {
            <li>@item.Stajyer.NameUsername</li>
            }
        </ul>
    </div>
</div>